{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block css-file %}
  {{ block.super }}
  <link rel="stylesheet/less" type="text/css" href="{% static 'stock/css/stock.less' %}">
{% endblock %}
{% block main %}
  <div class="stock-list content col-md-2">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            中国平安
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="">111</a></li>
              <li><a href="">12</a></li>
              <li><a href="">323</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              中石化
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="">192</a></li>
              <li><a href="">736</a></li>
              <li><a href="">354</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stock-chart content col-md-6">
  </div>
  <div class="stock-news content col-md-4"></div>
{% endblock %}
