{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block css-file %}
  {{ block.super }}
  <link rel="stylesheet/less" type="text/css" href="{% static 'simulate/css/simulate.less' %}">
{% endblock %}
{% block js-file %}
  {{ block.super }}
  <script src='{% static 'simulate/js/simulate.js' %}'></script>
{% endblock %}
{% block main %}
<div class="col-md-6 simulate-date">
  <div class="tactics">
    <form class="form-inline" method='GET' action='.' role="form">
      <div class="form-group">
        <p class="form-control-static">{% trans '股票代码' %}</p>
      </div>
      <div class="form-group">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Confirm identity</button>
    </form>
  </div>
</div>
{% endblock %}
